<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.neurolab">

    <uses-feature android:name="android.hardware.usb.host" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.TestModeActivity"
            android:label="@string/title_activity_test_mode"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".main.ProgramModeActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".main.AboutUsActivity"
            android:label="@string/about_us"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.SettingsActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".program_modes.MemoryGraphActivity"
            android:parentActivityName=".main.MainActivity"
            android:label="@string/mem_graph" />
        <activity android:name=".main.OnBoardingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".program_modes.MeditationActivity"
            android:parentActivityName=".main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/meditation_activity_label" />
    </application>

</manifest>